{% extends 'rembyt/base.html' %}
{% block content %}

<!-- Main Section -->
<main class="home">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Поиск мастера <span>Напрямую!</span></h2>
            </div>

            <div class="hero-section__search">
                <form id="search" class="form" action="{% url 'engineers' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Поиск мастера </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                               placeholder="Поиск мастера" value="{{search_query}}"/>
<!--                        # value="{{search_query}}" для того чтоб в строке поиска осталась надпись предыдущ.поиска-->
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Поиск"/>
                </form>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="devlist">
        <div class="container">
            <div class="grid grid--three">
                {% for engineer in engineers %}
                <div class="column card">
                    <div class="dev">
                        <a href="{% url 'file_engineer' engineer.id %}" class="card__body">
                            <div class="dev__profile">
                                <img class="avatar avatar--md" src="{{ engineer.engineer_image.url }}" alt="image"/>
                                <div class="dev__meta">
                                    <h3>{{ engineer.name }}</h3>
                                    <h5>{{ engineer.i_info|slice:"80" }}</h5>
                                </div>
                            </div>
                            <br>
                            <p>{{ engineer.education|slice:"100" }}</p>
                            <p class="dev__info">
                                {{ engineer.all_info|slice:"200" }}
                            </p>

                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'rembyt/pagination.html' with queryset=engineers %}
</main>
{% endblock %}