{% extends 'rembyt/base.html' %}
{% load static %}
{% block content %}

{% if page == "register" %}

<div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/logo.svg' %}" alt="icon" />
          </a>
          <h3>Регистрация аккаунта</h3>
          <p>Создание нового аккаунта инженера</p>
        </div>

        <form action="{% url 'register' %}" class="form auth__form" method="post">
            {% csrf_token %}
          <!-- Input:Text -->
            {% for field in form %}
<!--            # форм-переменная кот передаем во вью-->
          <div class="form__field">
            <label for="formInput#text">{{ field.label }}: </label>
            {{ field }}
              {% for error in field.errors %}
              <p style="color:red">{{error}}</p>
              {% endfor %}
          </div>
            {% endfor %}

          <!-- Input:Email -->

          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Зарегистрироваться" />
          </div>
        </form>
        <div class="auth__alternative">
          <p>Если аккаунт уже есть...</p>
          <a href="{% url 'login' %}">Авторизация</a>
        </div>
      </div>
    </div>


{% else %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="/">
                <img src="{% static 'images/logo.svg' %}" alt="icon"/>
            </a>
            <h3>Ваш аккаунт</h3>
            <p>Привет инженер, с возвращением!</p>
        </div>

        <form action="{% url 'login' %}" class="form auth__form" method="post">
            {% csrf_token %}
            <!-- Input:Email -->
            <div class="form__field">
                <label for="formInput#text">Имя пользователя: </label>
                <input
                        class="input input--text"
                        id="formInput#text"
                        type="text"
                        name="username"
                        placeholder="Enter your username..."
                />
            </div>

            <!-- Input:Password -->
            <div class="form__field">
                <label for="formInput#passowrd">Пароль: </label>
                <input
                        class="input input--password"
                        id="formInput#passowrd"
                        type="password"
                        name="password"
                        placeholder="••••••••"
                />
            </div>
            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Log In"/>
                <a href="forgetpassword.html">Забыли пароль?</a>
            </div>
        </form>
        <div class="auth__alternative">
            <p>Еще не зарегистрированы?</p>
<!--            <form action="{% url 'register' %}" method="post">-->
<!--                {% csrf_token %}-->
<!--                {{ form.as_p }}-->
<!--                <input type="submit" value="Регистрация">-->

<!--            </form>-->
            <a href="{% url 'register' %}">Регистрация</a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}